*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
db.sqlite3-journal
media/
static/

venv/
env/
.env/
.venv/
ENV/

*.py[cod]
*$py.class
*.so

.vscode/

.idea/

.env

htmlcov/
.coverage
.coverage.*
coverage.xml
*.cover